
.pname{
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.5px;
    padding-bottom: 3px;
}
.name{
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Adjust the height to your preference */
  }

  h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 85vh; Adjust the height to your preference */
  }

.started {
    background-color: #5733ff;
    color: #fff;
    font-size: 16px;
    padding: 8px 10px;
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
    outline: 0px;
  }

.ct{
    text-align: left;
}
